@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050d20;
    --foreground: #ededed;
  }
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    360deg,
    #133178 0%, 
    #0C1F4C 50%,   
    #050d20 100%  
  );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-titulo {
  font-family: var(--font-titulo), sans-serif;
}

.font-botao {
  font-family: var(--font-botao), sans-serif;
}
